<app-admin-panel> </app-admin-panel>
<div class="col-md-12 brd bg-dark text-center font-weight-bold text-white">
    <h2>Customers management</h2>
</div>
<div class="row bg-white mb-2">
  <div class="col-lg-3">
      <input class="form-control" type="text" name="search" placeholder="Search" [(ngModel)]="filter">
  </div>
  <div class="col-sm-4"><button class="btn btn-dark font-weight-bold" (click)="openModal(template)">Add customer</button>
  </div>
</div>
<table class="table-striped table-bordered table table-hover text-left">
  <thead class="bg-dark text-white">
    <tr>
      <th (click)="sort('id')">Id
        <span *ngIf="key =='id' && reverse">V</span>
        <span *ngIf="key =='id' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('name')">Name
        <span *ngIf="key =='name' && reverse">V</span>
        <span *ngIf="key =='name' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('surname')">Surname
        <span *ngIf="key =='surname' && reverse">V</span>
        <span *ngIf="key =='surname' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('email')">Email
        <span *ngIf="key =='email' && reverse">V</span>
        <span *ngIf="key =='email' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('creditCardNumber')">Credit card number
        <span *ngIf="key =='creditCardNumber' && reverse">V</span>
        <span *ngIf="key =='creditCardNumber' && !reverse">Ʌ</span>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers | orderBy: key : reverse | filter:filter" routerLink="/customer-detail/{{customer.id}}">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.surname}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.creditCardNumber}}</td>
      <td class="text-center"><button title="delete customer" class="btn btn-dark" (click)="delete(customer)">X</button></td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title pull-left">Adding customer</h4>
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body align-middle">
    <div class="row">
      <div class="col-lg-5 text-right mt-1">Name:</div>
      <div class="col-lg-5"><input class="float-right form-control" #customerName /></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Surname:</div>
      <div class="col-lg-5"><input class="float-right form-control" #customerSurname /></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Email:</div>
      <div class="col-lg-5"><input class="float-right form-control" #customerEmail /></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Credit card number:</div>
      <div class="col-lg-5"><input class="float-right form-control" #customerCreditCardNumber/></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Password:</div>
      <div class="col-lg-5"><input type="password" class="float-right form-control" #password/></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Confirmation password:</div>
      <div class="col-lg-5"><input type="password" class="float-right form-control" #repeat/></div>
    </div>
    <div class="row mt-2">
      <div *ngIf="warning" class="col-lg-10 text-right text-danger">{{warning}}</div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-10 text-right">
        <button class="btn btn-dark font-weight-bold" (click)="add(customerName.value, customerSurname.value, customerEmail.value,
        customerCreditCardNumber.value, password.value, repeat.value)">Add</button>
      </div>
    </div>
  </div>
</ng-template>
