<div class="mt-5 bg">
  <div class="row">
    <div class="input offset-5 col-lg-2">
      <label class="text-dark font-weight-bold">Email</label>
      <input type="text" class="form-control float-right" #email>
    </div>
  </div>
  <div class="row mt-2">
    <div class="input offset-5 col-lg-2">
      <label class="text-dark font-weight-bold">Password</label>
      <input class="form-control" type="password" #pass>
    </div>
  </div>
  <div class="row">
    <div class="input offset-5 col-lg-2 text-danger text-right" *ngIf="warning">
      {{warning}}
    </div>
  </div>
  <div class="row mt-2">
    <div class="input offset-5 col-lg-2 text-right">
      <button (click)="loginUser(email.value, pass.value)"  class="btn btn-dark font-weight-bold text-white">Login</button>
    </div>
  </div>

</div>
