<app-admin-panel></app-admin-panel>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<div class="col-md-12 brd bg-dark text-center font-weight-bold text-white">
  <h2>Rental administration</h2>
</div>
<div *ngIf="tab===1">
  <div class="col-md-12 brd bg-dark font-weight-bold text-white">
    <button class="btn btn-light font-weight-bold text-dark align-top" (click)="tab=1">Reservations</button>
    <button class="btn btn-dark font-weight-bold text-light" (click)="tab=2">Rents</button>
    <button class="btn btn-dark font-weight-bold text-light" (click)="tab=3">Ended rents</button>
  </div>
  <div class="row bg-white mt-2 mb-2">
    <div class="col-lg-3">
      <input class="form-control" type="text" name="search" placeholder="Search" [(ngModel)]="filter">
    </div>
  </div>
  <table class="table-striped table-bordered table table-hover text-left">
    <thead class="bg-dark text-white">
    <tr>
      <th (click)="sort('id')">Id
        <span *ngIf="key =='id' && reverse">V</span>
        <span *ngIf="key =='id' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('idCar')">Car id
        <span *ngIf="key =='idCar' && reverse">V</span>
        <span *ngIf="key =='idCar' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('idCustomer')">Customer id
        <span *ngIf="key =='idCustomer' && reverse">V</span>
        <span *ngIf="key =='idCustomer' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('rentDate')">RentDate
        <span *ngIf="key =='rentDate' && reverse">V</span>
        <span *ngIf="key =='rentDate' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('returnDate')">Return date
        <span *ngIf="key =='returnDate' && reverse">V</span>
        <span *ngIf="key =='returnDate' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('gps')">GPS
        <span *ngIf="key =='gps' && reverse">V</span>
        <span *ngIf="key =='gps' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('wifi')">WiFi
        <span *ngIf="key =='wifi' && reverse">V</span>
        <span *ngIf="key =='wifi' && !reverse">Ʌ</span>
      </th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of reservations | orderBy: key : reverse | filter:filter" class="rowPointer" (click)="openModal(template3, reservation)">
      <td>{{reservation.id}}</td>
      <td>{{reservation.idCar}}</td>
      <td>{{reservation.idCustomer}}</td>
      <td>{{reservation.rentDate}}</td>
      <td>{{reservation.returnDate}}</td>
      <td>{{reservation.gps}}</td>
      <td>{{reservation.wifi}}</td>
      <td class="text-center"><button title="delete reservation" class="btn btn-dark" (click)="deleteReservation(reservation.id)">X</button></td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="tab===2">
  <div class="col-md-12 brd bg-dark font-weight-bold text-white">
    <button class="btn btn-dark font-weight-bold text-light" (click)="tab=1">Reservations</button>
    <button class="btn btn-light font-weight-bold text-dark align-top" (click)="tab=2">Rents</button>
    <button class="btn btn-dark font-weight-bold text-light" (click)="tab=3">Ended rents</button>
  </div>
  <div class="row bg-white mt-2 mb-2">
    <div class="col-lg-3">
      <input class="form-control" type="text" name="search" placeholder="Search" [(ngModel)]="filter">
    </div>
  </div>
  <table class="table-striped table-bordered table table-hover text-left">
    <thead class="bg-dark text-white">
    <tr>
      <th (click)="sort('id')">Id
        <span *ngIf="key =='id' && reverse">V</span>
        <span *ngIf="key =='id' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('idCar')">Car id
        <span *ngIf="key =='idCar' && reverse">V</span>
        <span *ngIf="key =='idCar' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('idCustomer')">Customer id
        <span *ngIf="key =='idCustomer' && reverse">V</span>
        <span *ngIf="key =='idCustomer' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('rentDate')">RentDate
        <span *ngIf="key =='rentDate' && reverse">V</span>
        <span *ngIf="key =='rentDate' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('returnDate')">Return date
        <span *ngIf="key =='returnDate' && reverse">V</span>
        <span *ngIf="key =='returnDate' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('gps')">GPS
        <span *ngIf="key =='gps' && reverse">V</span>
        <span *ngIf="key =='gps' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('wifi')">WiFi
        <span *ngIf="key =='wifi' && reverse">V</span>
        <span *ngIf="key =='wifi' && !reverse">Ʌ</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rent of rents | orderBy: key : reverse | filter:filter">
      <td>{{rent.id}}</td>
      <td>{{rent.idCar}}</td>
      <td>{{rent.idCustomer}}</td>
      <td>{{rent.rentDate}}</td>
      <td>{{rent.returnDate}}</td>
      <td>{{rent.gps}}</td>
      <td>{{rent.wifi}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="tab===3">
  <div class="col-md-12 brd bg-dark font-weight-bold text-white">
    <button class="btn btn-dark font-weight-bold text-light" (click)="tab=1">Reservations</button>
    <button class="btn btn-dark font-weight-bold text-light" (click)="tab=2">Rents</button>
    <button class="btn btn-light font-weight-bold text-dark align-top" (click)="tab=3">Ended rents</button>
  </div>
  <div class="row bg-white mt-2 mb-2">
    <div class="col-lg-3">
      <input class="form-control" type="text" name="search" placeholder="Search" [(ngModel)]="filter">
    </div>
  </div>
  <table class="table-striped table-bordered table table-hover text-left">
    <thead class="bg-dark text-white">
    <tr>
      <th (click)="sort('id')">Id
        <span *ngIf="key =='id' && reverse">V</span>
        <span *ngIf="key =='id' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('idCar')">Car id
        <span *ngIf="key =='idCar' && reverse">V</span>
        <span *ngIf="key =='idCar' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('idCustomer')">Customer id
        <span *ngIf="key =='idCustomer' && reverse">V</span>
        <span *ngIf="key =='idCustomer' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('rentDate')">RentDate
        <span *ngIf="key =='rentDate' && reverse">V</span>
        <span *ngIf="key =='rentDate' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('returnDate')">Return date
        <span *ngIf="key =='returnDate' && reverse">V</span>
        <span *ngIf="key =='returnDate' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('gps')">GPS
        <span *ngIf="key =='gps' && reverse">V</span>
        <span *ngIf="key =='gps' && !reverse">Ʌ</span>
      </th>
      <th (click)="sort('wifi')">WiFi
        <span *ngIf="key =='wifi' && reverse">V</span>
        <span *ngIf="key =='wifi' && !reverse">Ʌ</span>
      </th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let endedRent of endedRents | orderBy: key : reverse | filter:filter">
      <td>{{endedRent.id}}</td>
      <td>{{endedRent.idCar}}</td>
      <td>{{endedRent.idCustomer}}</td>
      <td>{{endedRent.rentDate}}</td>
      <td>{{endedRent.returnDate}}</td>
      <td>{{endedRent.gps}}</td>
      <td>{{endedRent.wifi}}</td>
      <td class="text-center">
        <button title="return car" class="btn btn-dark" (click)="openDeleteModal(template4, endedRent.id, endedRent.idCar)">X</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #template3>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title pull-left">Reservation</h4>
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm">
      <div class="form-group">
        <div class="row mt-2">
          <div class="col-lg-2 text-right mt-1">Gps:</div>
          <div class="col-lg-4" btnRadioGroup formControlName="gps">
            <label btnRadio=false class="btn btn-dark font-weight-bold float-right" value="false">No</label>
            <label btnRadio=true class="btn btn-dark font-weight-bold float-right">Yes</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-2 text-right mt-1">Wifi:</div>
          <div class="col-lg-4" btnRadioGroup formControlName="wifi">
            <label btnRadio=false class="btn btn-dark font-weight-bold float-right" value="false">No</label>
            <label btnRadio=true class="btn btn-dark font-weight-bold float-right">Yes</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-6 text-right">
            <button class="btn btn-dark font-weight-bold" (click)="add(myForm.get('id').value, myForm.get('carId').value, myForm.get('customerId').value
            , myForm.get('rentDate').value, myForm.get('returnDate').value, myForm.get('gps').value, myForm.get('wifi').value);
            modalRef.hide()" type="button">Rent
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #template4>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title pull-left">Return of the car</h4>
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-5 text-right mt-1">Mileage:</div>
      <div class="col-lg-5"><input class="float-right form-control" id="mileage" /></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Service date:</div>
      <div class="col-lg-5"><input type="text" class="float-right form-control" bsDatepicker id="serviceDate"/></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-10 text-right">
        <button (click)="returnRent(); modalRef.hide()" class="btn btn-dark font-weight-bold" type="button">Return</button>
      </div>
    </div>
  </div>
</ng-template>
