 <app-user-panel> </app-user-panel>
<div *ngIf="customer" class="bg">
  <div *ngIf="tab1">
    <div class="col-md-12 brd bg-dark font-weight-bold text-white">
      <button class="btn btn-light font-weight-bold text-dark align-top" (click)="tab1=true">Customer details</button>
      <button class="btn btn-dark font-weight-bold text-light" (click)="tab1=false">Rented cars</button>
    </div>
    <div class="row mt-2">
      <div class="col-lg-2 text-right">Id:</div>
      <div class="col-lg-2"> {{customer.id}} </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-2 text-right">Name:</div>
      <div class="col-lg-2"><input [(ngModel)]="customer.name" size="29px" class="float-right"/></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-2 text-right">Surname:</div>
      <div class="col-lg-2"><input [(ngModel)]="customer.surname" size="29px" class="float-right"/></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-2 text-right">Email:</div>
      <div class="col-lg-2"><input [(ngModel)]="customer.email" size="29px" class="float-right"/></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-2 text-right">Credit card number:</div>
      <div class="col-lg-2"><input [(ngModel)]="customer.creditCardNumber" size="29px" class="float-right"/></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-2 text-right">Credit card number:</div>
      <div class="col-lg-2"><input type="password" [(ngModel)]="password" size="29px" class="float-right"/></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-2 text-right">Credit card number:</div>
      <div class="col-lg-2"><input type="password" [(ngModel)]="confirmation" size="29px" class="float-right"/></div>
    </div>
    <div class="row mt-2">
      <div *ngIf="warning" class="col-lg-4 text-right text-danger">{{warning}}</div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-4 text-right">
        <button class="btn btn-dark font-weight-bold" (click)="goBack()">Go back</button>
        <button class="btn btn-dark font-weight-bold" (click)="save(templateSuccess)">Save</button>
      </div>
    </div>
  </div>

  <div *ngIf="!tab1">
    <div class="col-md-12 brd bg-dark font-weight-bold text-white">
      <button class="btn btn-dark font-weight-bold text-white align-top" (click)="tab1=true">Customer details</button>
      <button class="btn btn-light font-weight-bold text-dark" (click)="tab1=false">Rented cars</button>
    </div>
    <div class="row bg-white mt-2 mb-2">
      <div class="col-lg-3">
        <input class="form-control" type="text" name="search" placeholder="Search" [(ngModel)]="filter">
      </div>
    </div>

    <table class="table-striped table-bordered table table-hover text-left">
      <thead class="bg-dark text-white">
      <tr>
        <th (click)="sort('id')">Id
          <span *ngIf="key =='id' && reverse">V</span>
          <span *ngIf="key =='id' && !reverse">Ʌ</span>
        </th>
        <th (click)="sort('mark')">Mark
          <span *ngIf="key =='mark' && reverse">V</span>
          <span *ngIf="key =='mark' && !reverse">Ʌ</span>
        </th>
        <th (click)="sort('model')">Model
          <span *ngIf="key =='model' && reverse">V</span>
          <span *ngIf="key =='model' && !reverse">Ʌ</span>
        </th>
        <th (click)="sort('description')">Description
          <span *ngIf="key =='description' && reverse">V</span>
          <span *ngIf="key =='description' && !reverse">Ʌ</span>
        </th>
        <th (click)="sort('colour')">Colour
          <span *ngIf="key =='colour' && reverse">V</span>
          <span *ngIf="key =='colour' && !reverse">Ʌ</span>
        </th>
        <th (click)="sort('productionDate')">Production date
          <span *ngIf="key =='productionDate' && reverse">V</span>
          <span *ngIf="key =='productionDate' && !reverse">Ʌ</span>
        </th>
        <th (click)="sort('retirementDate')">Retirement date
          <span *ngIf="key =='retirementDate' && reverse">V</span>
          <span *ngIf="key =='retirementDate' && !reverse">Ʌ</span>
        </th>
        <th (click)="sort('mileage')">Mileage
          <span *ngIf="key =='mileage' && reverse">V</span>
          <span *ngIf="key =='mileage' && !reverse">Ʌ</span>
        </th>
        <th (click)="sort('servicePeriod')">Service period
          <span *ngIf="key =='servicePeriod' && reverse">V</span>
          <span *ngIf="key =='ServicePeriod' && !reverse">Ʌ</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars | orderBy: key : reverse | filter:filter">
        <td>{{car.id}}</td>
        <td>{{car.mark}}</td>
        <td>{{car.model}}</td>
        <td>{{car.description}}</td>
        <td>{{car.colour}}</td>
        <td>{{car.productionDate}}</td>
        <td>{{car.retirementDate}}</td>
        <td>{{car.mileage}}</td>
        <td>{{car.servicePeriod}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

 <ng-template #templateSuccess>
   <div class="modal-header bg-dark text-white">
     <h4 class="modal-title pull-left">Success</h4>
     <button type="button" class="close pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     Modification was made.
     <div class="text-right">
       <button class="btn btn-dark font-weight-bold" (click)="modalRef.hide()">Ok</button>
     </div>
   </div>
 </ng-template>
