<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<div *ngIf="car" class="bg">
  <h2 class="bg-dark text-white">{{car.mark | uppercase}} {{car.model | uppercase}} Details</h2>
  <div class="row mt-2">
    <div class="col-lg-2 text-right">Id:</div>
    <div class="col-lg-2"> {{car.id}} </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-2 text-right">Mark:</div>
    <div class="col-lg-2"><input [(ngModel)]="car.mark" size="29px" class="float-right"/></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-2 text-right">Model:</div>
    <div class="col-lg-2"><input [(ngModel)]="car.model" size="29px" class="float-right"/></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-2 text-right">Description:</div>
    <div class="col-lg-2"><input [(ngModel)]="car.description" size="29px" class="float-right"/></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-2 text-right">Colour:</div>
    <div class="col-lg-2"><input [(ngModel)]="car.colour" size="29px" class="float-right"/></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-2 text-right">Production date:</div>
    <div class="col-lg-2"><input [(ngModel)]="car.productionDate" type="text" class="float-right" size="29px" bsDatepicker /></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-2 text-right">Retirement date:</div>
    <div class="col-lg-2"><input [(ngModel)]="car.retirementDate" type="text" class="float-right" size="29px" bsDatepicker /></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-2 text-right">Mileage:</div>
    <div class="col-lg-2"><input [(ngModel)]="car.mileage" size="29px" class="float-right"/></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-2 text-right">Service period:</div>
    <div class="col-lg-2"><input [(ngModel)]="car.servicePeriod" type="text" class="float-right" size="29px" bsDatepicker /></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 text-right">
      <button class="btn btn-dark font-weight-bold" (click)="goBack()">Go back</button>
      <button class="btn btn-dark font-weight-bold" (click)="save()">Save</button>
    </div>
  </div>
</div>
