<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<app-user-panel> </app-user-panel>
<div class="col-md-12 brd bg-dark text-center font-weight-bold text-white">
  <h2>Car reservation</h2>
  <button class="btn btn-dark font-weight-bold text-white float-right" routerLink="/login-form">Log out</button>
</div>

<div class="row bg-white mb-2">
  <div class="col-lg-3">
    <input class="form-control" type="text" name="search" placeholder="Search" [(ngModel)]="filter">
  </div>
  <div class="col-lg-2">
    <input type="text" class="form-control placeholder-w" placeholder="Rent date" bsDatepicker #rentDate />
  </div>
  <div class="col-lg-2">
    <input type="text" class="form-control placeholder-w" placeholder="Return date" bsDatepicker #returnDate />
  </div>
  <div class="col-lg-1">
    <button class="btn btn-dark font-weight-bold" (click)="filterCars(rentDate.value, returnDate.value, templateError)">Find cars</button>
  </div>
</div>

<div *ngIf="rentDateLabel !== ''" class="col-md-12 brd bg-dark text-center font-weight-bold text-white">
  <h2>{{rentDateLabel}} - {{returnDateLabel}}</h2>
</div>

<table class="table-striped table-bordered table table-hover text-left">
  <thead class="bg-dark text-white">
  <tr>
    <th (click)="sort('id')">Id
      <span *ngIf="key =='id' && reverse">V</span>
      <span *ngIf="key =='id' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('mark')">Mark
      <span *ngIf="key =='mark' && reverse">V</span>
      <span *ngIf="key =='mark' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('model')">Model
      <span *ngIf="key =='model' && reverse">V</span>
      <span *ngIf="key =='model' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('description')">Description
      <span *ngIf="key =='description' && reverse">V</span>
      <span *ngIf="key =='description' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('colour')">Colour
      <span *ngIf="key =='colour' && reverse">V</span>
      <span *ngIf="key =='colour' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('productionDate')">Production date
      <span *ngIf="key =='productionDate' && reverse">V</span>
      <span *ngIf="key =='productionDate' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('retirementDate')">Retirement date
      <span *ngIf="key =='retirementDate' && reverse">V</span>
      <span *ngIf="key =='retirementDate' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('mileage')">Mileage
      <span *ngIf="key =='mileage' && reverse">V</span>
      <span *ngIf="key =='mileage' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('servicePeriod')">Service period
      <span *ngIf="key =='servicePeriod' && reverse">V</span>
      <span *ngIf="key =='ServicePeriod' && !reverse">Ʌ</span>
    </th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars | orderBy: key : reverse | filter:filter">
    <td>{{car.id}}</td>
    <td>{{car.mark}}</td>
    <td>{{car.model}}</td>
    <td>{{car.description}}</td>
    <td>{{car.colour}}</td>
    <td>{{car.productionDate}}</td>
    <td>{{car.retirementDate}}</td>
    <td>{{car.mileage}}</td>
    <td>{{car.servicePeriod}}</td>
    <td class="text-center">
      <button title="make reservation" class="btn btn-dark" (click)="add(car.id, templateError, templateSuccess)">+</button>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="rentDateLabel === ''" class="col-md-12 brd bg-dark text-center font-weight-bold text-warning">
  <h2>Choose the time of rent</h2>
</div>

<ng-template #templateError>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title pull-left">Error</h4>
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    You should choose correct time of rent.
    <div class="text-right">
      <button class="btn btn-dark font-weight-bold" (click)="modalRef.hide()">Ok</button>
    </div>
  </div>
</ng-template>

<ng-template #templateSuccess>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title pull-left">Success</h4>
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Reservation was made.
    <div class="text-right">
      <button class="btn btn-dark font-weight-bold" (click)="modalRef.hide()">Ok</button>
    </div>
  </div>
</ng-template>
