<div *ngIf="customerId !== 0" class="col-md-12 brd text-info bg-white mb-2">
  <button class="btn btn-dark font-weight-bold text-white align-top" routerLink="/customer-detail/{{customerId}}">Customer management</button>
  <button class="btn btn-dark font-weight-bold text-white" routerLink="/reservation/{{customerId}}">Car reservationn</button>
  <button class="btn btn-dark font-weight-bold text-white" routerLink="/login-form">Log out</button>
</div>

