<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<app-admin-panel> </app-admin-panel>
<div class="col-md-12 brd bg-dark text-center font-weight-bold text-white">
  <h2>Car administration</h2>
</div>
<div class="row bg-white mb-2">
  <div class="col-lg-3">
    <input class="form-control" type="text" name="search" placeholder="Search" [(ngModel)]="filter">
  </div>
  <div class="col-sm-4"><button class="btn btn-dark font-weight-bold" (click)="openModal(template)">Add car</button>
  </div>
</div>

<table class="table-striped table-bordered table table-hover text-left">
  <thead class="bg-dark text-white">
  <tr>
    <th (click)="sort('id')">Id
      <span *ngIf="key =='id' && reverse">V</span>
      <span *ngIf="key =='id' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('mark')">Mark
      <span *ngIf="key =='mark' && reverse">V</span>
      <span *ngIf="key =='mark' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('model')">Model
      <span *ngIf="key =='model' && reverse">V</span>
      <span *ngIf="key =='model' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('description')">Description
      <span *ngIf="key =='description' && reverse">V</span>
      <span *ngIf="key =='description' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('colour')">Colour
      <span *ngIf="key =='colour' && reverse">V</span>
      <span *ngIf="key =='colour' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('productionDate')">Production date
      <span *ngIf="key =='productionDate' && reverse">V</span>
      <span *ngIf="key =='productionDate' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('retirementDate')">Retirement date
      <span *ngIf="key =='retirementDate' && reverse">V</span>
      <span *ngIf="key =='retirementDate' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('mileage')">Mileage
      <span *ngIf="key =='mileage' && reverse">V</span>
      <span *ngIf="key =='mileage' && !reverse">Ʌ</span>
    </th>
    <th (click)="sort('servicePeriod')">Service period
      <span *ngIf="key =='servicePeriod' && reverse">V</span>
      <span *ngIf="key =='ServicePeriod' && !reverse">Ʌ</span>
    </th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars | orderBy: key : reverse | filter:filter" routerLink="/car-detail/{{car.id}}">
    <td>{{car.id}}</td>
    <td>{{car.mark}}</td>
    <td>{{car.model}}</td>
    <td>{{car.description}}</td>
    <td>{{car.colour}}</td>
    <td>{{car.productionDate}}</td>
    <td>{{car.retirementDate}}</td>
    <td>{{car.mileage}}</td>
    <td>{{car.servicePeriod}}</td>
    <td class="text-center"><button title="delete car" class="btn btn-dark" (click)="delete(car)">X</button></td>
  </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title pull-left">Adding car</h4>
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body align-middle">
    <div class="row">
      <div class="col-lg-5 text-right mt-1">Mark:</div>
      <div class="col-lg-5">
        <input class="float-right form-control" #mark /></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Model:</div>
      <div class="col-lg-5"><input class="float-right form-control" #model /></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Description:</div>
      <div class="col-lg-5"><input class="float-right form-control" #description /></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Colour:</div>
      <div class="col-lg-5"><input class="float-right form-control" #colour/></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Production date:</div>
      <div class="col-lg-5"><input type="text" class="float-right form-control" bsDatepicker #productionDate /></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Retirement date:</div>
      <div class="col-lg-5"><input type="text" class="float-right form-control" bsDatepicker #retirementDate /></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Mileage:</div>
      <div class="col-lg-5"><input class="float-right form-control" #mileage/></div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-5 text-right mt-1">Service period:</div>
      <div class="col-lg-5"><input type="text" class="float-right form-control" bsDatepicker #productionDate #servicePeriod /></div>
    </div>
    <div class="row mt-2">
      <div *ngIf="warning" class="col-lg-10 text-right text-danger">{{warning}}</div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-10 text-right">
        <button class="btn btn-dark font-weight-bold" (click)="add(mark.value, model.value, description.value, colour.value, productionDate.value
        , retirementDate.value, mileage.value, servicePeriod.value)">Add</button>
      </div>
    </div>
  </div>
</ng-template>
