  <div class="col-md-12 brd text-info bg-white">
    <button class="btn btn-dark font-weight-bold text-white align-top" routerLink="/customers">Customer management</button>
    <button class="btn btn-dark font-weight-bold text-white" routerLink="/cars">Car administration</button>
    <button class="btn btn-dark font-weight-bold text-white" routerLink="/rent">Rental administration</button>
    <button class="btn btn-dark font-weight-bold text-white" routerLink="/login-form">Log out</button>
  </div>

